$serif: "Vollkorn", serif;
$sans:  "Open Sans", sans-serif;

body {
  font-family: $sans;
  color: $dark-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif;
  font-weight: 700;
  margin-top: 0;
}

p {
  margin-top: 0;
}


.menu__item {
  font-weight: 600;
  text-transform: uppercase;
}

blockquote {
  margin: 0;
  padding: 1em;
  font-family: $serif;
  font-size: 1.25em;
  font-weight: 700;
  text-align: center;
  border-top: 5px solid $dark-grey;
  border-bottom: 5px solid $dark-grey;
  p {
    margin-bottom: 0;
  }
}

footer {
  text-align: center;
}