<section class="related">

  <div class="card">

    <div class="card__icon"><img src="assets/img/brain.svg" width="32" height="32" /></div>

    <h2 class="card__title">Title</h2>

    <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card__cta">
      <a href="#" class="btn">Read more …</a>
    </div>

  </div>

  <div class="card">

    <div class="card__icon"><img src="assets/img/medical.svg" width="32" height="32" /></div>

    <h2 class="card__title">Title</h2>

    <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card__cta">
      <a href="#" class="btn">Read more …</a>
    </div>

  </div>

  <div class="card">

    <div class="card__icon"><img src="assets/img/science.svg" width="32" height="32" /></div>

    <h2 class="card__title">Title</h2>

    <p class="card__copy">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <div class="card__cta">
      <a href="#" class="btn">Read more …</a>
    </div>

  </div>

</section>